<div id="navwrap">
  {{!-- Wrap for navigating back and forth through pervious pages etc --}}
  <div class="container-fluid">

    {{!-- container to hold page name and breadcrumb path --}}
    <div class="row" style="path">

      <div class="col-xs-2">
        {{!-- college --}}
        <a class="navbar-brand" href="/colleges">
          <b class="title">Colleges</b>
        </a>
      </div>


      <div class="col-xs-10">
      </div>
    </div>
  </div>
</div>
</div>

<div id="bottompagewrap">
  <div class="panel-group" id="colleges">
  </div>
</div>
<!-- /pagewrap -->
<script src="/javascripts/list-colleges.js"></script>